.footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    font-family: var(--secondary--font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo--color);
}

.footer-logo__text {
    font-family: var(--secondary--font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-studio);
}