.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background: var(--background--hero);

    max-width: 480px;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width:768px) {
        max-width: 768px;
    }

    @media screen and (min-width:1200px) {
        padding-bottom: 200px;
        padding-top: 200px;

        max-width: 1600px;
    }
}

.hero__container {
    text-align: center;
}

.hero__title {
    display: inline-block;
    
    margin-bottom: 30px;

    max-width: 360px;

    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero--title);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {
        max-width: 696px;

        font-size: 44px;
        line-height: 1.36;
    }

    font-size: 26px;
    line-height: 1.62;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    min-width: 216px;
    min-height: 50px;
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero--btn);
    cursor: pointer;
    background: var(--background--button--hero);
    box-shadow: var(--shadow--hero--button);
    border-radius: 4px;
    border: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--bgr--hover--hero);
        color: var(--color--hover-hero);
    }
}